.bg-edit{
    background-color: rgb(24,82,154);
}

.footer{
  text-align: right;
  padding: 1rem;
}

.title{
    text-align: left;
    position: absolute;
    left: 6% ;
    padding: 1rem;
    font-size: 3vh;
    color: #ffffff;
    
}

.cont-login{
  
}